build/app/outputs/apk/debug/app-debug.apk
build/app/outputs/flutter-apk/app-debug.apk
build/app/outputs/flutter-apk/app-debug.apk.sha1
.flutter-plugins-dependencies
.dart_tool/flutter_build/6ab5d0a4226e3d844d7f6b562b9173f6/.filecache
.dart_tool/flutter_build/6ab5d0a4226e3d844d7f6b562b9173f6/aot_android_asset_bundle.stamp
.dart_tool/flutter_build/6ab5d0a4226e3d844d7f6b562b9173f6/app.dill
.dart_tool/flutter_build/6ab5d0a4226e3d844d7f6b562b9173f6/flutter_assets.d
.dart_tool/flutter_build/6ab5d0a4226e3d844d7f6b562b9173f6/kernel_snapshot.d
.dart_tool/flutter_build/6ab5d0a4226e3d844d7f6b562b9173f6/kernel_snapshot.stamp
.dart_tool/flutter_build/6ab5d0a4226e3d844d7f6b562b9173f6/outputs.json
.dart_tool/flutter_build/6ab5d0a4226e3d844d7f6b562b9173f6/arm64-v8a/app.so
.dart_tool/flutter_build/6ab5d0a4226e3d844d7f6b562b9173f6/armeabi-v7a/app.so
.dart_tool/flutter_build/6ab5d0a4226e3d844d7f6b562b9173f6/x86_64/app.so
build/
.dart_tool/
android/.gradle/file-system.probe
android/.gradle/7.4/executionHistory/executionHistory.bin
android/.gradle/7.4/executionHistory/executionHistory.lock
android/.gradle/7.4/fileHashes/fileHashes.bin
android/.gradle/7.4/fileHashes/fileHashes.lock
android/.gradle/7.4/fileHashes/resourceHashesCache.bin
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
.flutter-plugins-dependencies
