<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713717712583-i5m5qbknrfg6d4l0qfs8kb409fd1am17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713717712583-i5m5qbknrfg6d4l0qfs8kb409fd1am17</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>713717712583-d8cl4l1rjlhequm5nvl2hiq1be90l288.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVthPNGlEYNnO2Xe2h8OFPc1t-QnuEWe8</string>
	<key>GCM_SENDER_ID</key>
	<string>713717712583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sq.entregas</string>
	<key>PROJECT_ID</key>
	<string>sq-entregas-dd93b</string>
	<key>STORAGE_BUCKET</key>
	<string>sq-entregas-dd93b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713717712583:ios:bd1996217f38b92f1fe0e2</string>
</dict>
</plist>